<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
</head>
<body>
  <h1>Hi, you've been here: {{visits}} times!</h1>
  {{#if logged_in}}
  <h4>Hi, you're logged in!</h1>
  {{/if}}
</body>
</html>

